// Colors
$primary-color: #032541;
$white: #fafafa;
$background-text: #222a45;
$text-hint: rgba(52, 49, 76, 0.38);
$text-muted: rgba(52, 49, 76, 0.6);
$text-body: rgba(52, 49, 76, 1);

// Sizes
$small-size: 0.8rem;
$medium-size: 1.2rem;
$big-size: 1.5rem;
